<% provide(:title, "新しい用語集を作る") %>
<h1>新しい用語集を作る</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@glossary) do |f| %>
      <%= render 'shared/glossary_error_messages' %>
    
      <%= f.label :name, "ID(半角英数字)" %>
      <%= f.text_field :name %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: "5" %>

      <div class="control-group">    
        <%= f.label :private %>
        <%= f.radio_button :private, "U", :checked => "checked" %> <label for="glossary_private_u">ユーザ全員が編集できる</label>
        <%= f.radio_button :private, "S" %> <label for="glossary_private_s">自分だけ編集できる</label>
      </div>

      <%= f.submit "作成する", class:"btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>