<% provide(:title, @glossary.title) %>
<h1 id="top">
  <%= @glossary.title %>&nbsp;
  <% if @editable %>
    <a href="javascript:void(0);" onclick="glossary_word_edit('<%= new_word_path(@glossary.name) %>');">[+]</a>
  <% end %>
</h1>

<div class="center">
  <div class="description">
    <%= @glossary.description %>
  </div>
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<div class="glossary">
  <% if @words.length >= 1 %>
    <h2 id="star">*</h2>
    <div class="star_content">
      <% @words.each do |entry| %>
        <% entry[1].each do |word| %>
          <a href="#_<%= word.crypted_name %>"><%= word.name %></a>&nbsp;
        <% end  %>
      <% end %>
    </div>
    
    <% @words.each do |entry| %>
      <div class="index"> 
        <h2 id="<%= to_id(entry[0]) %>"><%= entry[0] %></h2>
          <dl>
            <% entry[1].each do |word| %>
              <div id="__<%= word.crypted_name %>">
                <dt id="_<%= word.crypted_name %>">
                  <%= word.name %>【<%= word.read_in_glossary %>】
                  <span class="edit">
                    <span class="return">
                      <a href="javascript:void(0);" class="btn btn-xsmall btn-primary" onclick="backtoOriginal()">
                        <i class="icon-share-alt icon-white"></i>Back</a>
                    </span>
                    <% if @editable %>
                      <a href="javascript:void(0);" class="btn btn-xsmall" onclick="glossary_word_edit('<%= edit_word_path(@glossary.name, word.id) %>');">
                        <i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-xsmall btn-danger" onclick="glossary_word_delete('<%= delete_word_path(@glossary.name, word.id) %>', '<%= word.name %>');">
                        <i class="icon-trash icon-white"></i></a>
                    <% end %>
                  </span>
                </dt>
                <dd><%= raw word.description_html %> </dd>
                <div class="hide" id="word_name_<%= word.id %>"><%= word.name %></div>
                <div class="hide" id="word_description_<%= word.id %>"><%= word.description %></div>
              </div>
            <% end %>
          </dl>
      </div>
    <% end %>
  <% else %>
    <% if @editable %>
      <p>この用語集にはまだ単語がありません。単語を追加してみよう！</p>
    <% else %>
      <p>この用語集にはまだ単語がありません。</p>
    <% end %>
  <% end %>
</div>

<div class="pagetop">
  <a href="javascript:void(0);" class="btn btn-large" onclick="_backToward=0;backtoOriginal();">
    <i class="icon-arrow-up"></i></a>
</div>


<div class="modal hide" id="edit_word_modal">
  <div id="modal_content">
    Loading...
  </div>
</div>

<script>
  var setupScrollClick = function() {
    $('a').click(function(e) {
      _backToward = document.body.scrollTop;
      var target = e.target.href;
      var tgt = target.split("#");
      if (tgt.length >= 2) {
        var toward = $("#" + tgt[tgt.length-1]).offset().top - 80;
        console.log(toward);
        $("html,body").animate({
          scrollTop: toward
        }, 50);
        
        $(".word_selected").removeClass("word_selected");
        $("span.return").hide();
        
        $("#_" + tgt[tgt.length-1]).addClass("word_selected");
        $("#_" + tgt[tgt.length-1] + " span.return").show();
        return false;
      }
    });
  }();
  
  var backtoOriginal = function() {
    if (!_backToward) {
      _backToward = 0;
    }
    
    $(".word_selected").removeClass("word_selected");
    $("span.return").hide();
    
    $("html,body").animate({
      scrollTop: _backToward
    }, 50);
  }
  
  /*
  setupToggleMenu = function() {
    $('dl > div').each(function(index, element) {
      $(element).mouseenter(function(event){
        $('span.edit').hide();
        $('span.edit', event.target).show();
      }); 
      $(element).mouseleave(function(event){
        $('span.edit').hide();
      }); 
    });
  }();*/
</script>