<% provide(:title, @glossary.title) %>
<h1>
  <%= @glossary.title %>&nbsp;
  <% if @editable %>
    <a href="javascript:void(0);" onclick="glossary_word_edit('<%= new_word_path(@glossary.name) %>');">[+]</a>
  <% end %>
</h1>

<div class="glossary">
  <% if @words.length >= 1 %>
    <h2 id="star">*</h2>
    <div class="star_content">
      <% @words.each do |entry| %>
        <% entry[1].each do |word| %>
          <a href="#_<%= word.name.crypt("zz") %>"><%= word.name %></a>&nbsp;
        <% end  %>
      <% end %>
    </div>
    
    <% @words.each do |entry| %>
      <h2 id="<%= to_id(entry[0]) %>"><%= entry[0] %></h2>
      <dl>
        <% entry[1].each do |word| %>
          <dt id="_<%= word.name.crypt("zz") %>">
            <%= word.name %>【<%= word.read %>】
            <% if @editable %>          
              <a href="javascript:void(0);" onclick="glossary_word_edit('<%= edit_word_path(@glossary.name, word.id) %>');">[e]</a>
              <a href="javascript:void(0);" onclick="glossary_word_delete('<%= delete_word_path(@glossary.name, word.id) %>', '<%= word.name %>');">[d]</a>
            <% end %>
          </dt>
          <dd><%= raw word.description_html %> </dd>
          <div class="hide" id="word_name_<%= word.id %>"><%= word.name %></div>
          <div class="hide" id="word_description_<%= word.id %>"><%= word.description %></div>
        <% end %>
      </dl>
    <% end %>
  <% else %>
    <p>この用語集にはまだ単語がありません。単語を追加してみよう！</p>
  <% end %>
</div>


<div class="modal hide" id="edit_word_modal">
  <div id="modal_content">
    Loading...
  </div>
</div>

<script>
  setupScrollClick = function() {
    $('ul.nav a, div.star_content a').click(function(e) {
      var target = e.target.href;
      var tgt = target.split("#");
      if (tgt.length >= 2) {
        var toward = $("#" + tgt[tgt.length-1]).offset().top - 80;
        console.log(toward);
        $("html,body").animate({
          scrollTop: toward
        }, 50);
        return false;
      }
    })
  }();
</script>