<% provide(:title, @glossary.title) %>
<h1>
  <%= @glossary.title %>&nbsp;
  <a href="javascript:void(0);" onclick="glossary_word_edit('<%= new_word_path(@glossary.name) %>');">[+]</a>
</h1>

<div class="glossary">
  <% if @words.length >= 1 %>
    <% @words.each do |entry| %>
      <h2 id="<%= entry[0] %>"><%= entry[0] %></h2>
      <dl>
        <% entry[1].each do |word| %>
          <dt name="<%= entry[0]  %>_<%= word.name.crypt("zz") %> ">
            <%= word.name %>
            <a href="javascript:void(0);" onclick="glossary_word_edit('<%= edit_word_path(@glossary.name, word.id) %>');">[e]</a>
            <a href="javascript:void(0);" onclick="glossary_word_delete('<%= delete_word_path(@glossary.name, word.id) %>', '<%= word.name %>');">[d]</a>
          </dt>
          <dd><%= word.description %> </dd>
          <div class="hide" id="word_name_<%= word.id %>"><%= word.name %></div>
          <div class="hide" id="word_description_<%= word.id %>"><%= word.description %></div>
        <% end %>
      </dl>
    <% end %>
  <% else %>
    <p>この用語集にはまだ単語がありません。単語を追加してみよう！</p>
  <% end %>
</div>


<div class="modal hide" id="edit_word_modal">
  <div id="modal_content">
    Loading...
  </div>
</div>
  