<% provide(:title, @user.name)  %>
<h1><%= @user.name %> </h1>

<div class="user">
<h2>
  <% if @isself %>
    あなたの用語集
    <a href="<%= new_glossary_path %>" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
    </a>
  <% else %>
    <%= @user.name %>の用語集
  <% end %>
</h2>
 
  
<table class="table table-striped" style="width: 91%;">
  <tbody>
  <% @user.glossaries.each do |glossary| %>
    <tr class="glossary">
      <td style="font-size: 16px;">
        <%= link_to "#{glossary.title}", glossary_path(glossary.name) %>&nbsp;<span class="label"><%= glossary.words.size %> words</span>
        <% if @isself %>
          <% if glossary.private == Glossary::PRIVATE_SELF %>
            <span class="label">only you can edit</span>
          <% elsif glossary.private == Glossary::PRIVATE_USER %>
            <span class="label">anyone can edit</span>
          <% else %>
            <span class="label">private</span>            
          <% end %>
        <% end %>
        <% if glossary.can_edit current_user %>
          <span class="label label-success">editable</span>
        <% end %>
      </td>
      <td>
        /g/<%= glossary.name %>
      </td>
      <td style="width: 15%">
        <% if @isself %>
            <a href="<%= edit_glossary_path(glossary.name) %>" class="btn btn-small">
              <i class="icon-edit"></i>&nbsp;編集する
            </a>
        <% end %>
      </td>
      <td style="width: 15%">
        <% if @isself %>
            <a href="javascript:void(0);" class="btn btn-small btn-danger"  onclick="glossary_delete('<%= delete_glossary_path(glossary.name) %>', '<%= glossary.name %>');">
              <i class="icon-trash icon-white"></i>&nbsp;削除する
            </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
  
  <% if @isself %>
    <h2>ユーザ情報を編集する</h2>
    <div class="glossary">
      <div class="btn-group">
        <%= link_to "プロフィールを編集する", edit_user_path, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<form action="" method="post" id="glossary_delete">
  <input type="hidden" name="id" value="" />
</form>