<% provide(:title, @user.name)  %>
<h1><%= @user.name %> </h1>

<div class="user">
<h2>
  <% if @isself %>
    あなたの用語集
    <a href="<%= new_glossary_path %>" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
    </a>
  <% else %>
    <%= @user.name %>の用語集
  <% end %>
</h2>
 
  
<table class="table table-striped">
  <tbody>
  <% @user.glossaries.each do |glossary| %>
    <tr class="glossary">
      <td style="font-size: 16px;">
        <%= link_to "#{glossary.title}", glossary_path(glossary.name) %>&nbsp;<span class="label"><%= glossary.words.size %> words</span>
      </td>
      <td>
        /g/<%= glossary.name %>
      </td>
      <td style="width: 20%">
        <% if @isself %>
            <a href="<%= edit_glossary_path(glossary.name) %>" class="btn btn-small">
              <i class="icon-edit"></i>&nbsp;編集する
            </a>
        <% end %>
      </td>
      <td style="width: 20%">
        <% if @isself %>
            <a href="<%= delete_glossary_path(glossary.name) %>" class="btn btn-small btn-danger">
              <i class="icon-trash icon-white"></i>&nbsp;削除する
            </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
  
  <% if @isself %>
    <h2>ユーザ情報を編集する</h2>
    <div class="glossary">
      <div class="btn-group">
        <%= link_to "プロフィールを編集する", edit_user_path, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>