<div class="modal-header">
  <h3>言葉を編集する</h3>
</div>
<%= form_for(:word, url: update_word_path(@glossary.name, @word.id), cls: "form-horizontal", remote: true) do |f| %>
  <div class="modal-body">
    <div id="errors"></div>
    <fieldset>
      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="control-group">
        <%= f.label :read, "読み方（空白にすると言葉と同じになります）" %>
        <%= f.text_field :read %>
      </div>      
      <div class="control-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: "5" %>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
    <%= f.submit "更新する", class:"btn btn-primary" %>
  </div>
<% end %>
